body {
  padding-top: 3.5rem;
}

#profile-picture{
	padding-left: 100px;
	width:75%;
	min-width:350px;
}

.clear-fix{
    clear:both;
}

#jumbo-table{
	
}

#jumbo-table td{
	
	vertical-align: top;
	text-align: left;
	
}

#project-list{
	padding-top: 3.5em;
}

.project-thumb{
	
	width:100%;
	
}

section {
  padding: 75px 0;
}

.carousel {
   max-width: 900px;
   overflow: hidden;
}

.col-sm-2cols {
        width: 50%;
        float: left;
    }
}